
<% @users.each do |user| %>
  <p> <%= user.name %> </p>
  <p> <%= user.address %> </p>

  <% if user.pets.any? %>

    <ul>
      <% user.pets.each do |pet| %>
        <li> <%= pet.name %> </li>
      <% end %>
    </ul>
  <% end %>
<% end %>